/* Images */
img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

p {
    padding-bottom: 10px;
}

/* Whiteboard */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/* Buttons */
.buttons {
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 1;  /* make the button on top of the whiteboard */
}

.btn {
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    border: 3px solid #bbbbbb;
}