{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Collaborative WhiteBoard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="tips">
                <p id="message">
                    <strong>Initializing sync...</strong>
                </p>
                <p>
                    Synchronization will work once you click on the
                    <a href="{{ url_for('whiteboard') }}" target="_blank">whiteboard</a>
                    link in the navigation bar above.
                </p>
                <p>Open this page in a few tabs to test how it works!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img class="img-responsive" src="{{ url_for('static', filename='images/collaborative_whiteboard.gif') }}" alt="Whiteboard">
        </div>
    </div>
{% endblock %}